ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
  
  ion-segment {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  ion-img {
    max-width: 200px;
    height: auto;
  }
  
  .auth-form {
    width: 100%;
  }
  
  ion-item {
    width: 100%;
    margin-bottom: 16px;
  }
  
  ion-button {
    width: 100%;
    margin-top: 16px;
  }

  form > * {
    margin-bottom: 10px;
}
  